*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color:aliceblue;

    font-family: sans-serif;
    line-height: 1.6;

    max-width: 62.5rem;
    min-width: 22.5rem;
}

body {
    margin: 0;
    /* padding: 0; */
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    text-align: center;
}

.header_title {
    text-align: center;
    font-size: 3rem;
    color: coral;
}

.main {
    border-radius: 0.5rem;
    border: 1px solid black;
    text-align: center;
}

.login_form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0.25rem;

    background-color: white;
}

.login_label {
    grid-column: span 1;
    justify-self: right;
    height: 25%;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333333;
}

.input_username {
    grid-column: span 2;
    height: 100%;
    width: 100%;
}

.login_btn {
    grid-column: span 3;
    justify-self: center;

    margin-top: 1.6rem;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    background-color: chocolate;

    font-size: 1.2rem;
}

.footer {
    text-align: center;
}

.main_data {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: white;
}

.logout_form {
    grid-column: span 4;
    width: 10%;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    background-color:silver ;
    cursor: pointer;
    font-size: 1rem;
}

.data_h2 {
    grid-column: span 4;
    text-align: center;
    font-size: 3rem;
    color: coral;
}

.word_show {
    grid-column: span 4;
}

.word_form {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
}

.word_label {
    grid-column: span 2;
    justify-self: right;
    height: 25%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333333;
}

.word_input {
    grid-column: span 3;
}

.word_btn {
    grid-column: span 5;
    justify-self: center;

    margin-top: 1.6rem;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    background-color: chocolate;
    cursor: pointer;
    font-size: 1.2rem;
}
